<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>后台登录-swear</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="${static}/x-admin/css/font.css">
    <link rel="stylesheet" href="${static}/x-admin/css/login.css">
	  <link rel="stylesheet" href="${static}/x-admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="${static}/x-admin/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">swear-管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" action="${admin}/login/login" method="post">
            <input name="account" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            @if(kaptcha.getKaptchaOnOff() == true){
            <input class="layui-input" style="width: 50%;display: inline-block;" name="kaptcha" placeholder="验证码" type="text" lay-verify="required">
            <img src="${admin}/kaptcha/getCode" style="float: right;" class="layadmin-user-login-codeimg" id="kaptchaImg">
            <hr class="hr15">
            @}
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >

        </form>
    </div>

    <script>
        $(function  () {
            layui.use(['form','layer'], function(){
              var form = layui.form;
              var layer = layui.layer;

              //监听提交
              // form.on('submit(login)', function(data){
                // // alert(888)
                // layer.msg(JSON.stringify(data.field),function(){
                //     location.href='index.html'
                // });
                // return false;
              // });

                var tips = '${tips!}';
                // console.log(tips);
                if (tips != ''){
                    layer.msg(tips, function(){
                        //关闭后的操作
                    });
                }
            });

            $("#kaptchaImg").on('click', function () {
                $("#kaptchaImg").attr('src', '${admin}/kaptcha/getCode');
            });

        })
    </script>
    <!-- 底部结束 -->
    <script>
        $(function() {


        });
    </script>
</body>
</html>