<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swallowff.web.cms.dao.ArticleDao">

    <sql id="baseColumns">
        a.id AS id,
        a.title AS title,
        a.author AS author,
        a.content AS content,
        a.star AS star,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.version AS version
    </sql>

    <select id="selectById" resultType="cn.swallowff.web.cms.entity.Article">
      SELECT
      <include refid="baseColumns"/>
      FROM cms_article a
      <where>
          a.delflag = 0
          AND a.id = #{id}
      </where>
    </select>

    <select id="findEntity" resultType="cn.swallowff.web.cms.entity.Article">
        SELECT
        <include refid="baseColumns"/>
        FROM cms_article a
        <where>
            a.delflag = 0
            <if test="title != null and title != ''">
                AND a.title = #{title}
            </if>
            <if test="author != null and author != ''">
                AND a.author = #{author}
            </if>
            <if test="content != null and content != ''">
                AND a.content = #{content}
            </if>
            <if test="star != null">
                AND a.star = #{star}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="findList" resultType="cn.swallowff.web.cms.entity.Article">
        SELECT
        <include refid="baseColumns"/>
        FROM cms_article a
        <where>
            a.delflag = 0
            <if test="title != null and title != ''">
                AND a.title = #{title}
            </if>
            <if test="author != null and author != ''">
                AND a.author = #{author}
            </if>
            <if test="content != null and content != ''">
                AND a.content = #{content}
            </if>
            <if test="star != null">
                AND a.star = #{star}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO cms_article(
          id,
          title,
          author,
          content,
          star,
          update_time,
          create_time,
          delflag
        ) VALUES (
          #{id},
          #{title},
          #{author},
          #{content},
          #{star},
          #{updateTime},
          #{createTime},
          #{delflag}
        )
    </insert>

    <update id="update">
        UPDATE cms_article SET
          title = #{title},
          author = #{author},
          content = #{content},
          star = #{star},
          update_time = #{updateTime}
          <where>
              delflag = 0
              AND id = #{id}
          </where>
    </update>

    <update id="updateSelective">
        UPDATE cms_article
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="star != null">
                star = #{star},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            delflag = 0
            AND id = #{id}
        </where>
    </update>

    <update id="delete">
        UPDATE cms_article a
        SET a.delflag = 1
        <where>
          a.delflag = 0
          AND a.id = #{id}
        </where>
    </update>

</mapper>
