<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swallowff.modules.core.modules.cs.dao.CsGroupTeamUserDao">

    <sql id="baseColumns">
        a.id AS id,
        a.gt_id AS gtId,
        a.cs_uid AS csUid,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.version AS version
    </sql>

    <sql id="userGroupTeamColumns">
        DISTINCT(gt.id) AS id,
        gt.gt_name AS groupname,
        gt.avatar AS avatar
    </sql>

    <select id="selectById" resultType="cn.swallowff.modules.core.modules.cs.entity.CsGroupTeamUser">
      SELECT
      <include refid="baseColumns"/>
      FROM cs_group_team_user a
      <where>
          a.delflag = 0
          AND a.id = #{id}
      </where>
    </select>

    <select id="findEntity" resultType="cn.swallowff.modules.core.modules.cs.entity.CsGroupTeamUser">
        SELECT
        <include refid="baseColumns"/>
        FROM cs_group_team_user a
        <where>
            a.delflag = 0
            <if test="gtId != null and gtId != ''">
                AND a.gt_id = #{gtId}
            </if>
            <if test="csUid != null and csUid != ''">
                AND a.cs_uid = #{csUid}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="findList" resultType="cn.swallowff.modules.core.modules.cs.entity.CsGroupTeamUser">
        SELECT
        <include refid="baseColumns"/>
        FROM cs_group_team_user a
        <where>
            a.delflag = 0
            <if test="gtId != null and gtId != ''">
                AND a.gt_id = #{gtId}
            </if>
            <if test="csUid != null and csUid != ''">
                AND a.cs_uid = #{csUid}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findUserGroupTeam" resultType="cn.swallowff.modules.core.modules.cs.dto.ChatGroupTeamDto">
        SELECT
        <include refid="userGroupTeamColumns"/>
        FROM cs_group_team_user a
        LEFT JOIN cs_group_team gt ON gt.delflag = 0 AND gt.id = a.gt_id
        <where>
            a.delflag = 0
            <if test="csUid != null and csUid != ''">
                AND a.cs_uid = #{csUid}
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO cs_group_team_user(
          id,
          gt_id,
          cs_uid,
          update_time,
          create_time,
          delflag
        ) VALUES (
          #{id},
          #{gtId},
          #{csUid},
          #{updateTime},
          #{createTime},
          #{delflag}
        )
    </insert>

    <update id="update">
        UPDATE cs_group_team_user SET
          gt_id = #{gtId},
          cs_uid = #{csUid},
          update_time = #{updateTime}
          <where>
              delflag = 0
              AND id = #{id}
          </where>
    </update>

    <update id="updateSelective">
        UPDATE cs_group_team_user
        <set>
            <if test="gtId != null and gtId != ''">
                gt_id = #{gtId},
            </if>
            <if test="csUid != null and csUid != ''">
                cs_uid = #{csUid},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            delflag = 0
            AND id = #{id}
        </where>
    </update>

    <update id="delete">
        UPDATE cs_group_team_user a
        SET a.delflag = 1
        <where>
          a.delflag = 0
          AND a.id = #{id}
        </where>
    </update>

</mapper>
