<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swallowff.modules.core.system.dao.DictDao">

    <sql id="baseColumns">
        a.id AS id,
        a.name AS name,
        a.code AS code,
        a.label AS label,
        a.val AS val,
        a.sort AS sort,
        a.tips AS tips,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.version AS version
    </sql>

    <select id="selectById" resultType="Dict">
      SELECT
      <include refid="baseColumns"/>
      FROM sys_dict a
      <where>
          a.delflag = 0
          AND a.id = #{id}
      </where>
    </select>

    <select id="findEntity" resultType="Dict">
        SELECT
        <include refid="baseColumns"/>
        FROM sys_dict a
        <where>
            a.delflag = 0
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
            <if test="code != null and code != ''">
                AND a.code = #{code}
            </if>
            <if test="label != null and label != ''">
                AND a.label = #{label}
            </if>
            <if test="val != null">
                AND a.val = #{val}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="findList" resultType="Dict">
        SELECT
        <include refid="baseColumns"/>
        FROM sys_dict a
        <where>
            a.delflag = 0
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
            <if test="code != null and code != ''">
                AND a.code = #{code}
            </if>
            <if test="label != null and label != ''">
                AND a.label = #{label}
            </if>
            <if test="val != null">
                AND a.val = #{val}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="getDictCacheList" resultType="cn.swallowff.modules.core.cache.DictCache">
        SELECT
          a.val AS val,
          a.label AS label
        FROM sys_dict a
        WHERE
          a.delflag = 0
          AND a.code = #{arg0}
        ORDER BY a.sort ASC
    </select>

    <insert id="insert">
        INSERT INTO sys_dict(
          id,
          name,
          code,
          label,
          val,
          sort,
          tips,
          update_time,
          create_time,
          delflag
        ) VALUES (
          #{id},
          #{name},
          #{code},
          #{label},
          #{val},
          #{sort},
          #{tips},
          #{updateTime},
          #{createTime},
          #{delflag}
        )
    </insert>

    <update id="update">
        UPDATE sys_dict SET
          name = #{name},
          code = #{code},
          label = #{label},
          val = #{val},
          sort = #{sort},
          tips = #{tips},
          update_time = #{updateTime}
          <where>
              delflag = 0
              AND id = #{id}
          </where>
    </update>

    <update id="updateSelective">
        UPDATE sys_dict
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="label != null">
                label = #{label},
            </if>
            <if test="val != null">
                val = #{val},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="tips != null">
                tips = #{tips},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            delflag = 0
            AND id = #{id}
        </where>
    </update>

    <update id="delete">
        UPDATE sys_dict a
        SET a.delflag = 1
        <where>
          a.delflag = 0
          AND a.id = #{id}
        </where>
    </update>

</mapper>
