<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swallowff.modules.core.system.dao.RoleDao">

    <sql id="baseColumns">
        a.id AS id,
        a.sort AS sort,
        a.name AS name,
        a.pid AS pid,
        a.dept_id AS deptId,
        a.tips AS tips,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.version AS version
    </sql>

    <select id="selectById" resultType="Role">
      SELECT
      <include refid="baseColumns"/>
      FROM sys_role a
      <where>
          a.id = #{id}
      </where>
    </select>

    <select id="findList" resultType="Role">
        SELECT
        <include refid="baseColumns"/>
        FROM sys_role a
        <where>
            <if test="pid != null and pid != ''">
              AND a.pid = #{pid}
            </if>
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO sys_role(
          id,
          sort,
          name,
          pid,
          dept_id,
          tips,
          update_time,
          create_time,
          delflag
        ) VALUES (
          #{id},
          #{sort},
          #{name},
          #{pid},
          #{deptId},
          #{tips},
          #{updateTime},
          #{createTime},
          #{delflag}
        )
    </insert>

    <insert id="insertSelective">
        INSERT INTO sys_user(
        <trim suffixOverrides="," prefix="(" suffix=")">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="deptId != null and deptId != ''">
                dept_id,
            </if>
            <if test="tips != null and tips != ''">
                tips,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="delflag != null">
                delflag,
            </if>
        </trim>
        VALUES
        <trim suffixOverrides="," prefix="(" suffix=")">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="sort != null">
                #{sort},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="pid != null and pid != ''">
                #{pid},
            </if>
            <if test="deptId != null and deptId != ''">
                #{deptId},
            </if>
            <if test="tips != null and tips != ''">
                #{tips},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="delflag != null">
                #{delflag},
            </if>
        </trim>
    </insert>

    <update id="update">
        UPDATE sys_role SET
          sort = #{sort},
          name = #{name},
          pid = #{pid},
          dept_id = #{deptId},
          tips = #{tips},
          update_time = #{updateTime}
          <where>
              id = #{id}
          </where>
    </update>

    <update id="updateSelective">
        UPDATE sys_role
        <set>
            <if test="sort != null and sort != ''">
                sort = #{sort}
            </if>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="pid != null and pid != ''">
                pid = #{pid}
            </if>
            <if test="deptId != null and deptId != ''">
                dept_id = #{deptId}
            </if>
            <if test="tips != null and tips != ''">
                tips = #{tips}
            </if>
            <if test="updateTime != null and updateTime != ''">
                update_time = #{updateTime}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        UPDATE sys_role a
        SET a.delflag = 1
        <where>
          a.id = #{id}
        </where>
    </delete>

</mapper>
