<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swallowff.modules.core.system.dao.UserDao">

    <sql id="baseColumns">
        a.id AS id,
        a.avatar AS avatar,
        a.account AS account,
        a.password AS password,
        a.salt AS salt,
        a.name AS name,
        a.birthday AS birthday,
        a.sex AS sex,
        a.email AS email,
        a.phone AS phone,
        a.role_id AS roleId,
        a.dept_id AS deptId,
        a.status AS status,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.version AS version
    </sql>

    <select id="selectById" resultType="cn.swallowff.modules.core.system.entity.Dept">
      SELECT
      <include refid="baseColumns"/>
      FROM sys_user a
      <where>
          a.id = #{id}
      </where>
    </select>

    <select id="findList" resultType="cn.swallowff.modules.core.system.entity.Dept">
        SELECT
        <include refid="baseColumns"/>
        FROM sys_user a
        <where>
            <if test="account != null and account != ''">
              AND a.account = #{account}
            </if>
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
            <if test="sex != null and sex != ''">
                AND a.sex = #{sex}
            </if>
            <if test="email != null and email != ''">
                AND a.email = #{email}
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone = #{phone}
            </if>
            <if test="status != null and status != ''">
                AND a.status = #{status}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insertSelective">
        INSERT INTO sys_user(
        <trim suffixOverrides="," prefix="(" suffix=")">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="avatar != null and avatar != ''">
                avatar,
            </if>
            <if test="account != null and account != ''">
                account,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="salt != null and salt != ''">
                salt,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="roleId != null and roleId != ''">
                role_id,
            </if>
            <if test="deptId != null and deptId != ''">
                dept_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delflag != null">
                delflag,
            </if>
        </trim>
        VALUES
        <trim suffixOverrides="," prefix="(" suffix=")">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="avatar != null and avatar != ''">
                #{avatar},
            </if>
            <if test="account != null and account != ''">
                #{account},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="salt != null and salt != ''">
                #{salt},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="roleId != null and roleId != ''">
                #{roleId},
            </if>
            <if test="deptId != null and deptId != ''">
                #{deptId},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="delflag != null">
                #{delflag},
            </if>
        </trim>
    </insert>

    <insert id="insert">
        INSERT INTO sys_user(
          avatar,
          account,
          password,
          salt,
          name,
          birthday,
          sex,
          email,
          phone,
          role_id,
          dept_id,
          status,
          update_time,
          create_time,
          delflag
        ) VALUES (
          #{avatar},
          #{account},
          #{password},
          #{salt},
          #{name},
          #{birthday},
          #{sex},
          #{email},
          #{phone},
          #{roleId},
          #{deptId},
          #{status},
          #{updateTime},
          #{createTime},
          #{delflag}
        )
    </insert>

    <update id="update">
        UPDATE sys_user SET
          avatar = #{avatar},
          account = #{account},
          password = #{password},
          salt = #{salt},
          name = #{name},
          birthday = #{birthday},
          sex = #{sex},
          email = #{email},
          phone = #{phone},
          role_id = #{roleId},
          dept_id = #{deptId},
          status = #{status},
          update_time = #{updateTime},
          create_time = #{createTime},
          delflag = #{delflag}
          <where>
              id = #{id}
          </where>
    </update>

    <update id="updateSelective">
        UPDATE sys_user
        <set>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar}
            </if>
            <if test="account != null and account != ''">
                account = #{account}
            </if>
            <if test="password != null and password != ''">
                password = #{password}
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt}
            </if>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday}
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex}
            </if>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone}
            </if>
            <if test="deptId != null and deptId != ''">
                dept_id = #{deptId}
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
            <if test="updateTime != null and updateTime != ''">
                update_time = #{updateTime}
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="delete">
        UPDATE sys_user a
        SET a.delflag = 1
        <where>
            a.id = #{id}
        </where>
    </update>

</mapper>
