<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swallowff.modules.core.modules.cs.dao.CsFriendGroupUserDao">

    <sql id="baseColumns">
        a.id AS id,
        a.ug_id AS ugId,
        a.cs_uid AS csUid,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.version AS version
    </sql>
    
    <sql id="groupUserJoinColumns">
        u.id AS id,
        u.nick_name AS nickName,
        u.is_online AS isOnline,
        u.avatar AS avatar,
        u.sign AS sign
    </sql>

    <select id="selectById" resultType="cn.swallowff.modules.core.modules.cs.entity.CsFriendGroupUser">
      SELECT
      <include refid="baseColumns"/>
      FROM cs_friend_group_user a
      <where>
          a.delflag = 0
          AND a.id = #{id}
      </where>
    </select>

    <select id="findEntity" resultType="cn.swallowff.modules.core.modules.cs.entity.CsFriendGroupUser">
        SELECT
        <include refid="baseColumns"/>
        FROM cs_friend_group_user a
        <where>
            a.delflag = 0
            <if test="ugId != null and ugId != ''">
                AND a.ug_id = #{ugId}
            </if>
            <if test="csUid != null and csUid != ''">
                AND a.cs_uid = #{csUid}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="findList" resultType="cn.swallowff.modules.core.modules.cs.entity.CsFriendGroupUser">
        SELECT
        <include refid="baseColumns"/>
        FROM cs_friend_group_user a
        <where>
            a.delflag = 0
            <if test="ugId != null and ugId != ''">
                AND a.ug_id = #{ugId}
            </if>
            <if test="csUid != null and csUid != ''">
                AND a.cs_uid = #{csUid}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findGroupUserJoin" resultType="cn.swallowff.modules.core.modules.cs.entity.CsUser">
        SELECT
        <include refid="groupUserJoinColumns"/>
        FROM cs_friend_group_user a
        LEFT JOIN cs_user u ON u.delflag = 0 AND u.id = a.cs_uid
        <where>
            a.delflag = 0
            AND a.ug_id = #{var0}
        </where>
    </select>

    <insert id="insert">
        INSERT INTO cs_friend_group_user(
          id,
          ug_id,
          cs_uid,
          update_time,
          create_time,
          delflag
        ) VALUES (
          #{id},
          #{ugId},
          #{csUid},
          #{updateTime},
          #{createTime},
          #{delflag}
        )
    </insert>

    <update id="update">
        UPDATE cs_friend_group_user SET
          ug_id = #{ugId},
          cs_uid = #{csUid},
          update_time = #{updateTime}
          <where>
              delflag = 0
              AND id = #{id}
          </where>
    </update>

    <update id="updateSelective">
        UPDATE cs_friend_group_user
        <set>
            <if test="ugId != null and ugId != ''">
                ug_id = #{ugId},
            </if>
            <if test="csUid != null and csUid != ''">
                cs_uid = #{csUid},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            delflag = 0
            AND id = #{id}
        </where>
    </update>

    <update id="delete">
        UPDATE cs_friend_group_user a
        SET a.delflag = 1
        <where>
          a.delflag = 0
          AND a.id = #{id}
        </where>
    </update>

</mapper>
