<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swallowff.modules.core.modules.cs.dao.CsUserContactGroupDao">

    <sql id="baseColumns">
        a.id AS id,
        a.cs_uid AS csUid,
        a.group_name AS groupName,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.version AS version
    </sql>

    <select id="selectById" resultType="cn.swallowff.modules.core.modules.cs.entity.CsUserContactGroup">
      SELECT
      <include refid="baseColumns"/>
      FROM cs_user_contact_group a
      <where>
          a.delflag = 0
          AND a.id = #{id}
      </where>
    </select>

    <select id="findEntity" resultType="cn.swallowff.modules.core.modules.cs.entity.CsUserContactGroup">
        SELECT
        <include refid="baseColumns"/>
        FROM cs_user_contact_group a
        <where>
            a.delflag = 0
            <if test="csUid != null and csUid != ''">
                AND a.cs_uid = #{csUid}
            </if>
            <if test="groupName != null and groupName != ''">
                AND a.group_name = #{groupName}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="findList" resultType="cn.swallowff.modules.core.modules.cs.entity.CsUserContactGroup">
        SELECT
        <include refid="baseColumns"/>
        FROM cs_user_contact_group a
        <where>
            a.delflag = 0
            <if test="csUid != null and csUid != ''">
                AND a.cs_uid = #{csUid}
            </if>
            <if test="groupName != null and groupName != ''">
                AND a.group_name = #{groupName}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO cs_user_contact_group(
          id,
          cs_uid,
          group_name,
          update_time,
          create_time,
          delflag
        ) VALUES (
          #{id},
          #{csUid},
          #{groupName},
          #{updateTime},
          #{createTime},
          #{delflag}
        )
    </insert>

    <update id="update">
        UPDATE cs_user_contact_group SET
          cs_uid = #{csUid},
          group_name = #{groupName},
          update_time = #{updateTime}
          <where>
              delflag = 0
              AND id = #{id}
          </where>
    </update>

    <update id="updateSelective">
        UPDATE cs_user_contact_group
        <set>
            <if test="csUid != null and csUid != ''">
                cs_uid = #{csUid},
            </if>
            <if test="groupName != null and groupName != ''">
                group_name = #{groupName},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            delflag = 0
            AND id = #{id}
        </where>
    </update>

    <update id="delete">
        UPDATE cs_user_contact_group a
        SET a.delflag = 1
        <where>
          a.delflag = 0
          AND a.id = #{id}
        </where>
    </update>

</mapper>
